{#- Many thanks to github.com/smirnovich for providing the VHDL code for this template #}

{#- 'process' header with reset logic #}
{% macro process_begin(sig=['test'], init=["'0'"]) %}
    {% set rst_type = config['register_reset']%}
    {% if rst_type == 'sync_pos' %}
process (clk) begin
if rising_edge(clk) then
if (rst = '1') then
    {% for s, i in zip(sig, init) %}
    {{s}} <= {{i}};
    {% endfor -%}
else
    {%- elif rst_type == 'sync_neg' %}
process (clk) begin
if rising_edge(clk) then
if (rst = '0') then
    {% for s, i in zip(sig, init) %}
    {{s}} <= {{i}};
    {% endfor -%}
else
    {%- elif rst_type == 'async_pos' %}
process (clk, rst) begin
if (rst = '1') then
    {% for s, i in zip(sig, init) %}
    {{s}} <= {{i}};
    {% endfor -%}
elsif rising_edge(clk) then
    {%- elif rst_type == 'async_neg' %}
process (clk, rst) begin
if (rst = '0') then
    {% for s, i in zip(sig, init) %}
    {{s}} <= {{i}};
    {% endfor -%}
elsif rising_edge(clk) then
    {%- endif %}
{%- endmacro %}

{#- 'process' footer #}
{% macro process_end() %}
    {% if 'async' in config['register_reset'] %}
end if;
end process;
    {% else %}
end if;
end if;
end process;
    {% endif %}
{%- endmacro %}

-- Created with Corsair v{{ corsair_ver }}
--
-- AXI-Lite to Local Bus bridge
--
library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;

entity {{ module_name }} is
generic(
    ADDR_W : integer := {{ config['address_width'] }};
    DATA_W : integer := {{ config['data_width'] }};
    STRB_W : integer := {{ config['data_width'] // 8 }}
);
port(
    clk    : in std_logic;
    rst    : in std_logic;
    -- Local Bus
    wready : in  std_logic;
    waddr  : out std_logic_vector(ADDR_W-1 downto 0);
    wdata  : out std_logic_vector(DATA_W-1 downto 0);
    wen    : out std_logic;
    wstrb  : out std_logic_vector(STRB_W-1 downto 0);
    rdata  : in  std_logic_vector(DATA_W-1 downto 0);
    rvalid : in  std_logic;
    raddr  : out std_logic_vector(ADDR_W-1 downto 0);
    ren    : out std_logic;
    {% macro ahbl_ports() %}
    -- AHB-Lite
    -- Select
    hsel_in      : in  std_logic;
    -- Address and Control
    haddr_in     : in  std_logic_vector(ADDR_W-1 downto 0);
    hwrite_in    : in  std_logic;
    hsize_in     : in  std_logic_vector(2 downto 0);
    hburst_in    : in  std_logic_vector(2 downto 0);
    hprot_in     : in  std_logic_vector(3 downto 0);
    htrans_in    : in  std_logic_vector(1 downto 0);
    hmastlock_in : in  std_logic;
    hready_in    : in  std_logic;
    -- Data
    hdata_in     : in  std_logic_vector(DATA_W-1 downto 0);
    hdata_q      : out std_logic_vector(DATA_W-1 downto 0);
    -- Transfer Response
    hreadyout_q  : out std_logic;
    hresp_q      : out std_logic
    {% endmacro %}
    {{ ahbl_ports() }}
);
end {{ module_name }};
architecture arch_imp of {{ module_name }} is
{% macro ahbl_signals(regmap_embed=False) %}
    {% if regmap_embed %}
signal wready : std_logic;
signal waddr  : std_logic_vector(ADDR_W-1 downto 0);
signal wdata  : std_logic_vector(DATA_W-1 downto 0);
signal wen    : std_logic;
signal wstrb  : std_logic_vector(STRB_W-1 downto 0);
signal rdata  : std_logic_vector(DATA_W-1 downto 0);
signal rvalid : std_logic;
signal raddr  : std_logic_vector(ADDR_W-1 downto 0);
signal ren    : std_logic;
{% endif %}
constant AHB_HRESP_OKAY     : std_logic                    := '0';
constant AHB_HRESP_ERR      : std_logic                    := '1';

constant AHB_TRANS_IDLE     : std_logic_vector(1 downto 0) := "00";
constant AHB_TRANS_BUSY     : std_logic_vector(1 downto 0) := "01";
constant AHB_TRANS_NSEQ     : std_logic_vector(1 downto 0) := "10";
constant AHB_TRANS_SEQ      : std_logic_vector(1 downto 0) := "11";

constant AHB_BURST_SINGLE   : std_logic_vector(2 downto 0) := "000";
constant AHB_BURST_INCR     : std_logic_vector(2 downto 0) := "001";

function base_addr_mask(data_width : integer) return std_logic_vector is
	variable result : std_logic_vector(ADDR_W-1 downto 0) := (others => '1');
begin
	case data_width is
		when 1024   => result(6 downto 0) := (others => '0');
		when  512   => result(5 downto 0) := (others => '0');
		when  256   => result(4 downto 0) := (others => '0');
		when  128   => result(3 downto 0) := (others => '0');
		when   64   => result(2 downto 0) := (others => '0');
		when   32   => result(1 downto 0) := (others => '0');
		when   16   => result(0 downto 0) := (others => '0');
		when others => null;
	end case;
	return result;
end function;

function strobe(
	haddr : std_logic_vector(ADDR_W-1 downto 0);
	hsize : std_logic_vector(       2 downto 0)
) return std_logic_vector is
	variable result     : unsigned(127 downto 0) := (others => '0');
	variable num_shifts : integer;
begin

	case to_integer(unsigned(hsize)) is
		when 7      => result(127 downto 0) := (others => '1');
		when 6      => result( 63 downto 0) := (others => '1');
		when 5      => result( 31 downto 0) := (others => '1');
		when 4      => result( 15 downto 0) := (others => '1');
		when 3      => result(  7 downto 0) := (others => '1');
		when 2      => result(  3 downto 0) := (others => '1');
		when 1      => result(  1 downto 0) := (others => '1');
		when others => result(  0 downto 0) := (others => '1');
	end case;

	num_shifts := to_integer(unsigned(haddr and not base_addr_mask(DATA_W)));

	return std_logic_vector(resize(shift_left(result, num_shifts), STRB_W));

end function;

signal haddr_int       : std_logic_vector(ADDR_W-1 downto 0);
signal wdata_int       : std_logic_vector(DATA_W-1 downto 0);
signal wstrobe_int     : std_logic_vector(STRB_W-1 downto 0);
signal wen_int         : std_logic;
signal ren_int         : std_logic;
signal hresp_int       : std_logic;

{% endmacro %}
{{ ahbl_signals() }}
begin
{% macro ahbl_core() %}

waddr <= haddr_int;
wdata <= wdata_int;
wstrb <= wstrobe_int;
wen   <= wen_int;
raddr <= haddr_int;
ren   <= ren_int;

hdata_q     <= rdata;
hreadyout_q <= wready and rvalid;
hresp_q     <= hresp_int;

wdata_int   <= hdata_in;
hresp_int   <= AHB_HRESP_OKAY;

{{ process_begin(["wen_int", "ren_int"],
                 ["'0'", "'0'"]) }}

	if (hready_in = '1') then

		if (hsel_in = '1') then

			if (htrans_in = AHB_TRANS_NSEQ or htrans_in = AHB_TRANS_SEQ) then

				assert 8 * 2**to_integer(unsigned(hsize_in)) <= DATA_W
					report "HSIZE can't be larger than DATA_W!"
					severity failure;

				haddr_int <= haddr_in and base_addr_mask(DATA_W);

				if (hwrite_in = '1') then
	    			wstrobe_int <= strobe(haddr_in, hsize_in);
	    			wen_int     <= '1';
				else
	    			ren_int     <= '1';
				end if;
			elsif (htrans_in = AHB_TRANS_IDLE) then
				wen_int <= '0';
				ren_int <= '0';
			end if;

		else
			wen_int <= '0';
			ren_int <= '0';
		end if;

	end if;

{{ process_end() }}

{% endmacro %}
{{ ahbl_core() }}
end arch_imp;
